@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'DotMatrix Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DotMatrix Regular'), url('/public/fonts/DOTMATRX.woff') format('woff');
    }
    

    @font-face {
    font-family: 'DotMatrix_TR Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DotMatrix_TR Regular'), url('/public/fonts/DotMatrix_TR.woff') format('woff');
    }

.dotmatrix {
    font-family:'DotMatrix Regular';
    font-weight:normal;
}